.base {
    display: flex;
    flex-direction: column;
    /*border: 1px solid red;*/
}

.presentation__text {
    display: flex;
    
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img__image {
    width: 632px;
}

.inner__base {
    height: 66vh;
}

.presentation__title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 128px;
}

.presentation__title__two {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 128px;
}

.presentation__img {
    background-image: url("./images/desktop/image-photography.jpg");
    background-size: cover;
    height: 65vh;
    padding: 180px 16px 16px 16px;
}

.presentation__img__primary {
    background-image: url("./images/desktop/image-graphic-design.jpg");
    background-size: cover;
    height: 65vh;
    padding: 180px 16px 16px 16px;
}

.sub__base {
    padding: 120px;
}
