@import './button.css';
@import './cards.css';
@import './team.css';
@import './menu__section.css';
@import './img__set.css';

:root {
    /*primary*/
    --Soft_red:hsl(7, 99%, 70%);
    --Yellow:hsl(51, 100%, 49%);
    --Dark_desaturated_cyan: hsl(167, 40%, 24%);
    --Dark_blue:hsl(198, 62%, 26%);
    --Dark_moderate_cyan:hsl(168, 34%, 41%);

    /*neutral*/
    --Very_dark-desaturated_blue:hsl(212, 27%, 19%);
    --Very_dark_grayish_blue:hsl(213, 9%, 39%);
    --Dark_grayish_blue:hsl(232, 10%, 55%);
    --Grayish_blue:hsl(210, 4%, 67%);
    --White:hsl(0, 0%, 100%);
    --black: #000;

    /*text*/
    --Barlow:('Barlow', sans-serif);
    --Fraunces:('Fraunces', serif);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h3, h2 {
    font-family: 'Barlow', sans-serif;
}

h1 {
    color: var(--White);
    font-size: 36px;
}

span, p, h6 {
    font-family: 'Fraunces', serif;
}

.logo {
    color: var(--White);
    font-size: 16px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.wrapper {
    margin: auto;
    /*border: 1px solid blue;*/
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 760px;
}

.items__menu {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    padding: 16px;
}

ul, li, a {
    text-decoration: none;
    list-style: none;
    color: var(--White);
}

.header {
    background-image: url("./images/desktop/image-header.jpg");
    background-size: cover;
    height: 100vh;
}

h3 {
    padding: 16px;
    color: var(--Dark_blue);
}

i {
    padding: 12px;
}

.main__content {
    display: flex;
    justify-content: center;
    padding: 180px 16px 16px 100px;

}

.arrow {
    display: flex;
    padding: 0 0 0 100px;
    justify-content: center;
}

.text {
    font-size: 20px;
    color: var(--black);
}

h6 {
    color: var(--Dark_grayish_blue);
}
