.team {
    width: 100%;
    height: 100%;
}

.team__description {
    display: flex;
    justify-content: space-between;
}

h2, span, h6 {
    display: flex;
    padding: 16px;
    justify-content: center;
}

.user {
    display: flex;
    
}

.user__team {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    /*border: 1px solid purple;*/
}

p {
    padding: 40px;
}

.data {
    gap: 16px;
}

.img__team {
    width: 100px;
    padding: 20px;
}

.team__description {
    display: flex;
    /*border: 1px solid orange;*/
}
