.base {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}

.presentation__text {
    display: flex;
}

.img {
    display: flex;
    justify-content: center;
    
}

.img__image {
    width: 100%;
}

/*
.img__content {
}
.direccion {
    position: absolute;
    top: 290px;
    left: 248px;
    padding: 36px;
    
    position: relative;
    display: inline-block;
    text-align: center;
}

.control {
    position: absolute;
    top: 240px;
    left: 10px;
    padding: 144px;
}
*/
.presentation__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 196px;
}

/*
.img__special {
    background-image: url(./images/desktop/image-graphic-design.jpg);
    background-size: cover;
}
*/

